# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/

# Environments
.venv/
.env
.env.*
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/

# OS
.DS_Store
Thumbs.db

# Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Envy
**.__pycache__